.home .hero {
  padding: 20px;
}

.hero p {
  background-color:#f0f0f0;
  font-size: 20px;
  padding: 20px 30px;
}

.feautres ul {
    display: flex;
    list-style: none;
    text-align: center;
    padding:10px 30px;
}

.feautres ul li {
    padding: 20px;
}